  <h4>Here are my projects:</h4>
  <ul>
    {{#projects}}
    <li>
      <a href={{directory}} target="_blank">
      <img src={{screenshot}} alt="" >
      <h4>{{name}}</h4>
      </a>
    </li>
    {{/projects}}
  </ul>
  