img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

#results-container a {
    display: flex;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: black;
}

#results-container a > * {
    display: flex;
    text-align: center;
}

#more-results {
    display: flex;
    align-items: center;
    margin: 10px;
    visibility: hidden;
}

#more-results.visible {
    visibility: visible;
}
